#goods {
	margin: 20px auto 0;
	text-align: center;
}
#goods table {
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
	font-family: Helvetica, Arial, sans-serif;
	width: 800px;
}
#goods table td {
	text-align: left;
	padding: 10px;
	vertical-align: middle;
	border: 1px #ddd solid;
	border-left: 0;
	border-right: 0;
}
#goods table td.image img {
	margin: 5px;
	width: 50px;
	border: 1px #ddd solid;
}
#goods table tr.head td {
	margin-bottom: 10px;
}
button.delete {
	background: red;
	color: white;
}
#add_new {
	display: inline-block;
	margin-bottom: 15px;
}