header {
	padding: 20px;
	height: 52px;
}
#header_logo {
	float: left;
	margin-right: 30px;
}
header nav {
	vertical-align: top;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-decoration: none;
	padding: 20px 8px;
}
header nav ul li a.active {
	color: red;
}