header {
	padding: 20px;
	height: 93px;
}
#header_logo {
	float: left;
	margin-right: 30px;
}
header nav {
	vertical-align: top;
	display: inline-block;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a {
	display: inline-block;
	font-size: 15px;
	text-decoration: none;
	padding: 40px 15px;
}
header nav ul li a.active {
	color: #97b428;
}
#search {
	float: right;
	margin-top: 37px;
}
#q_text {
	height: 15px;
	padding: 3px;
	border: 1px #bbb solid;
}
#search_button {
	width: 25px;
	height: 25px;
	cursor: pointer;
	color: transparent;
	background: transparent url(/images/search.png) center center no-repeat;
	border: 0;
}