#center_block {
	position: relative; 
	text-align: center;
	clear: both;
}
#buttons {
	margin-top: 30px;
}
#buttons a.button {
	display: inline-block;
	font-size: 100%;
	font-weight: bold;
	margin: 0 11px;
	text-decoration: none;
	text-transform: uppercase;
}
#floater {
	float: left;
	height: 50%;
	margin-top: -30px;
}
html, body {
	height: 90%;
}